<%- include("partials/headermember") %>

<div class="testemonialcreate-total-div">
  	 <form class="testemonialcreate-total-form" method="post" action="/uploadtestemonial" enctype="multipart/form-data">
  	 	<legend><u>Upload Testemonial details</u></legend><br>
  	 	 <label><span style="color:white;font-size:30px;">Upload image --></span>
  	 	<input type="file" required name="testemonialimg" class="btn-outline-info" style="border:5px solid #23A0A0;color:white;"></label> <br>
  	 	<input type="text" required name="testemonialfacebook" placeholder="Facebook URL" class="createblog-input btn-lg btn-outline-info" style="width:300px;"><br>
  	 	<input type="text" required name="testemonialinstagram" placeholder="Instagram URL" class="createblog-input btn-lg btn-outline-info" style="width:300px;"><br>
  	 	<input type="submit" class="btn btn-lg btn-success"><br><br>
  	 </form>
  </div>


<%- include("partials/footer") %>