<%- include("partials/headerclient") %>


<div class="not-registered">
  <h1 class="not-registered-heading">You are not registered !</h1>
  <u><em><a class="not-registered-home" href="/"><i class="far fa-hand-point-left"></i>Home</a> </em></u>
 </div>


<%- include("partials/footer") %>