<%- include("partials/headermanager") -%>

<div class="container add-form-total-div">
    <form class="add-form" method="post" action="/updatepassword/<%=memberuser._id%>"  onsubmit="return checkpass()">
      <div class="add-form-div">
  <legend class="add-legend">Student's Details<br><h4 id="invalidity"></h4></legend>
  <hr class="add-form-hr">
  <table class="add-table">
    <tbody>
    <tr>
        <td><label class="add-form-label">Old Password</label></td>
        <td>:</td>
        <td><input type="password" name="oldpass" id="oldpass" class="add-form-input" required></td>
      </tr>
      <tr>
        <td><label class="add-form-label">Password</label></td>
        <td>:</td>
        <td><input type="password" name="pass" id="pass" class="add-form-input" required></td>
      </tr>
      <tr>
        <td><label class="add-form-label">Confirm Password</label></td>
        <td>:</td>
        <td><input type="password" name="conpass" id="conpass" class="add-form-input" required></td>
      </tr>
    </tbody>
  </table>
</div><br>
<input type="submit" name="" class="btn btn-lg btn-block btn-success">
</form><br><br><br>
  </div>


<%- include("partials/footer") -%>


